<h1>Leaderboard</h1>
<hr>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th style="width: 55%">Name</th>
      <th style="width: 15%">Balance</th>
      <th style="width: 15%">Karma</th>
      <th style="width: 15%">Score</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username.titleize %></td>
        <td><%= user.score %></td>
        <td><%= user.karma %></td>
        <td><%= user.effective_score %></td>
      </tr>
    <% end %>
  </tbody>
</table>
